{% extends "base.html" %}

{% block title %}QR Code Generator{% endblock %}

{% block extra_css %}
#qrcode-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
{% endblock %}

{% block content %}
<h1 style="text-align: center;">QR Code Generator</h1>

<form style="text-align: center;" method="POST" enctype="multipart/form-data">
    <input type="text" name="data" placeholder="Enter text or URL..." required>
    <br>
    <button class="my-button" type="submit">Generate QR Code</button>
</form>

<div id="qrcode-container">
    {% if qrcode_img %}
        <img src="{{ qrcode_img }}" alt="QR Code">
    {% endif %}
</div>
{% endblock %}
