{% extends "base.html" %}

{% block title %}PDF Merge{% endblock %}

{% block content %}
<h1 style="text-align: center;">PDF Merge</h1>

<form style="text-align: center;" action="/pdfmerge" method="post" enctype="multipart/form-data">
    <label for="doc_upload">Choose files to upload:</label>
    <input type="file" id="doc_upload" name="files[]" accept="application/pdf" multiple required>
    <br><br>
    <input class="my-button" type="submit" value="Submit and Download">
</form>
{% endblock %}
