{% extends "base.html" %}

{% block title %}Word to PDF Converter{% endblock %}

{% block content %}
<h1 style="text-align: center;">WORD TO PDF</h1>

<form style="text-align: center;" action="/wordtopdf" method="post" enctype="multipart/form-data">
    <label for="doc_upload">Upload Documents (docx):</label>
    <input type="file" id="doc_upload" name="docxupload" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" required>
    <br><br>
    <input class="my-button" type="submit" value="Submit and Download">
</form>
{% endblock %}
